<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-light btn-access" routerLink="/task">Acessar Sistema</button>
    </div>
</div>
<br>
<h1>Requisitos:</h1>
<h3>O usuário deve poder:</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-success">Adicionar novas tarefas</li>
    <li class="list-group-item list-group-item-primary">Marcar e desmarcar status de concluído</li>
    <li class="list-group-item list-group-item-warning">Editar o conteúdo da Task</li>
    <li class="list-group-item list-group-item-danger">Deletar uma Task</li>
    <li class="list-group-item list-group-item-dark">Versionamento com GIT</li>
</ul>